* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }

.clearfix::after {
 content: "";
 display: table;
 clear: both;
 }
.fa-bars {
  color: #3a8aff;
}
body {
  font-family: 'Roboto', sans-serif;
}
.debug {
  min-height: 100px;
  border: 1px solid red;
}
.p-top-30 {
  padding-top:30px
}
.p-top-50 {
  padding-top:50px
}
.p-top-100 {
  padding-top:100px
}
.m-top-10 {
  margin-top: 10px;
}
.m-top-30 {
  margin-top: 30px;
}
.m-top-50 {
  margin-top: 50px;
}


.m-top-100 {
  margin-top: 100px;
}
.p-bottom-30 {
  padding-bottom:30px
}
.p-bottom-50 {
  padding-bottom:50px
}
.p-bottom-100 {
  padding-bottom:100px
}
.m-bottom-10 {
  margin-bottom: 10px;
}
.m-bottom-30 {
  margin-bottom: 30px;
}
.m-bottom-50 {
  margin-bottom: 50px;
}
.m-bottom-100 {
  margin-bottom: 100px;
}
.m-left-20 {
  margin-left:20px;
}
.m-left-60 {
  margin-left:60px;
}
.m-left-250 {
  margin-left:250px;
}
.btn_generic {
  margin-top: 10px;
  width: 100%;
  padding: 5px 0px;
}
.color-b {
  color: #006aff;
}
.color-grey {
  background-color: #f3f5f9;
}
.color-white {
  background-color: white;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-30 {
  font-size: 30px;

}
.font-40 {
  font-size: 40px;
}
.font-color-f {
  color: #fff;
}

.font-color-dgrey {
  color: #6f7b97;
}
.font-color-blue {
  color: #031c4e;
}
.font-color-dgrey2 {
  color: #5c6a88;
}
.jumbotron h1 {
  color: #fff;
}
.jumbotron p {
  font-weight: 500;
}
.jumbotron p small {
  font-size: 10px;
}
.def-height {
  height: 200px;
}
